/* GENERAL STYLING */

body {
    font-family: "Kanit";
    font-size: 1.2em;
    font-weight: 300;
    color: #111111;
    margin: 0;
}

h1 {
    font-size: 5rem;
    line-height: 4rem;
    margin-top: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.05em;
}

h2 a, h3 a {
    color: inherit;
    text-decoration: none;
	transition: all 0.15s ease-in-out;
}

h2 a:hover, h3 a:hover {
    text-decoration: underline;
    color: #d90000;
    opacity: 0.8;
}

span {
    display: inline-block;
}

.flip {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    margin-left: -3px;
}

/* SONG PAGE STYLING */

/* Hero section */

.songHero {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    background: #eee;
    padding: 1em 2em;
    gap: 2em;
    margin-bottom: 1em;
}

body.infinite .songHero {
    background: linear-gradient(rgb(140, 61, 135), rgb(24, 45, 92));
    color: white;
}

.songTitle {
    grid-column: 1;
    text-align: left;
}
  
  .songArtwork {
    grid-column: 2;
    text-align: right;
    margin-right: 2em;
}
  
  .songArtwork img {
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 350px;
}

/* Track nav section */

.trackNav {
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 28% 8% 28% 8% 28%;
    grid-auto-flow: column;
    padding: 1em;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .prevTrack {
    text-align: right;
    padding: 0 1em;
  }
  
  .prevArrow {
    text-align: center;
  }
  
  .thisTrack {
    text-align: center;
    font-weight: 700;
    margin: 0 1em;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.2em;
    line-height: 1em;
  }
  
  .nextArrow {
    text-align: center;
  }
  
  .nextTrack {
    text-align: left;
    padding: 0 1em;
  }
  
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  

/* Details section */

.songDetails {
    display: grid;
    grid-auto-columns: 47.5% 52.5%;
    grid-auto-flow: column;
    gap: 1em;
    margin-right: 1em;
}

.songCredits {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 1em;
    background: #eee;
    padding: 1em 2em;
    height: calc(100vh - 4em);
}

.creditsTitle, .lyricsTitle {
    height: 10%;
    align-content: center;
    text-align: right;
    min-height: 75px;
    border-bottom: 1px solid black;
}

.creditsTitle h2, .creditsType h3, .lyricsTitle h2 {
    margin: 0;
}

.creditsSection {
    height: 30%;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.creditsType {
    height: 30%;
    align-content: center;
}

.creditsPeople {
    height: 70%;
    display: flex;
    gap: 0.5em;
}

.person {
    height: 100%;
    aspect-ratio: 1 / 1;
    background: black;
    background-color: #111111;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.person:hover {
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1);
}

.person:hover .personInfo {
	transform: scale(1);
	opacity: 1;
}

.personInfo {
	position: absolute;
	background: rgba(0,0,0, 0.4);
	width: 100%;
    height: inherit;
	overflow: hidden;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0);
    text-align: center;
    align-content: center;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
    line-height: 24px;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
    text-align: center;
}

.feat:after {
    content: "feat.";
}

.unlisted:after {
    content: "unl.";
}

.co:after {
    content: "co.";
}

.add:after {
    content: "add.";
}

.sample:after {
    content: "samp.";
}

.feat:after, .unlisted:after, .co:after, .add:after, .sample:after {
    display: block;
    position: absolute;
    width: 25%;
    height: 15%;
    top: 5%;
    right: 5%;
    font-size: 10px;
    padding: 2px;
    background: white;
    color: #111111;
    align-content: center;
    text-align: center;
}

.songLyrics {
    display: flex;
    flex-direction: column;
    color: #111111;
    background: #eee;
    padding: 1em 2em;
}

p.lyricsHeader {
    font-weight: 500;
    margin-bottom: 0.25em;
}

.lyricsDetail p {
    margin-top: 0;
}

.denaun { background-image: url(/shadybase/images/headshots/Denaun-Porter-Headshot.jpg); }
.djHead { background-image: url(/shadybase/images/headshots/DJ-Head-Headshot.jpg); }
.dre { background-image: url(/shadybase/images/headshots/Dr-Dre-Headshot.jpg); }
.eminemp0 { background-image: url(/shadybase/images/headshots/Eminem-Headshot-p0.jpg); }
.eminemp1 { background-image: url(/shadybase/images/headshots/Eminem-Headshot-p1.jpg); }
.jeffBass { background-image: url(/shadybase/images/headshots/Jeff-Bass-Headshot.jpg); }
.labiSiffre { background-image: url(/shadybase/images/headshots/Labi-Siffre-Headshot.jpg); }
.markAvery { background-image: url(/shadybase/images/headshots/Mark-Avery-Headshot.jpg); }
.markBass { background-image: url(/shadybase/images/headshots/Mark-Bass-Headshot.jpg); }
.proof { background-image: url(/shadybase/images/headshots/Proof-Headshot.jpg); }
.royce { background-image: url(/shadybase/images/headshots/Royce-Da-5-9-Headshot.jpg); }