/* GENERAL STYLING */

body {
    font-family: "Kanit";
    font-size: 1.2em;
    font-weight: 300;
    color: #111111;
    padding: 1em;
    margin: 0;
}

h1 {
    font-size: 5rem;
    line-height: 4rem;
    margin-top: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.05em;
}

h2 a, h3 a {
    color: inherit;
    text-decoration: none;
	transition: all 0.15s ease-in-out;
}

h2 a:hover, h3 a:hover {
    text-decoration: underline;
    color: #d90000;
    opacity: 0.8;
}

.flip {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    margin-left: -3px;
}

/* SONG PAGE STYLING */

/* Hero section */

.songHero {
    display: grid;
    align-items: center;
    background: #eee;
    padding: 1em 2em;
    gap: 2em;
    margin-bottom: 1em;
}

.songTitle {
    grid-column: 1;
    text-align: left;
}
  
  .songArtwork {
    grid-column: 2;
    text-align: right;
}
  
  .songArtwork img {
    width: 350px;
    height: 350px;
}

/* Details section */

.songDetails {
    display: flex;
    width: calc(100vw - 1em);
}

.songCredits {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 1em;
    width: calc(50% - 4em);
    background: #eee;
    padding: 1em;
    height: calc(100vh - 4em);
}

.creditsTitle, .lyricsTitle {
    height: 10%;
    align-content: center;
    text-align: right;
    min-height: 75px;
    border-bottom: 1px solid black;
}

.creditsTitle h2, .creditsType h3, .lyricsTitle h2 {
    margin: 0;
}

.creditsSection {
    height: 30%;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.creditsType {
    height: 30%;
    align-content: center;
}

.creditsPeople {
    height: 70%;
    display: flex;
    gap: 0.5em;
}

.person {
    height: 100%;
    aspect-ratio: 1 / 1;
    background: black;
    background-color: #111111;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.person:hover {
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1);
}

.person:hover .personInfo {
	transform: scale(1);
	opacity: 1;
}

.personInfo {
	position: absolute;
	background: rgba(0,0,0, 0.4);
	width: 100%;
    height: inherit;
	overflow: hidden;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0);
    text-align: center;
    align-content: center;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
    line-height: 24px;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
    text-align: center;
}

.feat:after {
    content: "feat.";
}

.unc:after {
    content: "unc.";
}

.co:after {
    content: "co.";
}

.add:after {
    content: "add.";
}

.samp:after {
    content: "smp.";
}

.feat:after, .unc:after, .co:after, .add:after, .samp:after {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    font-size: 10px;
    padding: 2px;
    background: white;
    color: #111111;
    align-content: center;
    text-align: center;
}

.songLyrics {
    display: flex;
    flex-direction: column;
    width: calc(50% - 2em);
    color: #111111;
    background: #eee;
    padding: 1em;
    margin-left: 1em;
}

p.lyricsHeader {
    font-weight: 500;
    margin-bottom: 0.25em;
}

.lyricsDetail p {
    margin-top: 0;
}

.dre { background-image: url(/shadybase/images/headshots/Dr-Dre-Headshot.jpg); }
.eminemp1 { background-image: url(/shadybase/images/headshots/Eminem-Headshot-p1.jpg); }
.labiSiffre { background-image: url(/shadybase/images/headshots/Labi-Siffre-Headshot.jpg); }
.markAvery { background-image: url(/shadybase/images/headshots/Mark-Avery-Headshot.jpg); }